<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating exclusive community
  for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perspiciatis quos amet, voluptate ipsa non tempora accusantium beatae, eum maiores dolorum numquam, ducimus cupiditate suscipit voluptates repellendus explicabo. Consequuntur, eveniet?</p>
</div>